# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b> Objectives: <b>

- List of Programs for Data Science
- Commonly used libraries in Data Science
- List of Tools used in Data science
- Arihmetic Operations in Python

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Scala

Some of the commonly used libraries used by Data Scientists include:

- Numpy
- Panda
- Matplotlib


|Data Science Tools |
|-------------------|
| Python |
| R |
| Scala |
| SQL |
| Apache Spark |
| Jupyter Notebook |
| Git |
| IBM Watson Studio |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200/6

33.333333333333336

## Author
Logesh